.container {
    background: linear-gradient(90deg,
            rgb(5, 5, 10) 0%,
            rgb(9, 10, 14) 8.333%,
            rgb(13, 14, 18) 16.667%,
            rgb(18, 19, 22) 25%,
            rgb(22, 23, 26) 33.333%,
            rgb(26, 27, 30) 41.667%,
            rgb(30, 31, 34) 50%,
            rgb(34, 35, 38) 58.333%,
            rgb(38, 39, 42) 66.667%,
            rgb(41, 42, 45) 75%,
            rgb(44, 45, 48) 83.333%,
            rgb(46, 47, 51) 91.667%,
            rgb(48, 49, 53) 100%);

    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero {
    color: var(--primary-light);

    font-size: x-large;
    padding: 3rem;
}

.form {
    background-color: var(--primary-light);
    padding: 2.5rem 1rem;

    >* {
        margin: 0 auto;
        max-width: 30rem;
    }

    hr {
        margin: 1rem auto;
    }

    .form-field {
        padding: 0.5rem 0;

        label {
            font-weight: 600;
            color: var(--secondary-dark);
        }

        input {
            padding: 0.5rem;
            width: 100%;
        }
    }

    button[type="submit"] {
        display: block;
        padding: 0.5rem;
        width: 100%;
    }
}

@media (max-width: 60rem) {
    .container {
        grid-template-columns: 1fr;
    }
}