:root {
    --primary-accent-color: #007bff;

    --primary-background-color: #f8f9fa;
    --secondary-background-color: #f0f0f0;

    --primary-text-color: #222;
    --secondary-text-color: #444;

    --footer-background-color: #222;
    --footer-text-color: white;
}
